go 1.21.0

use (
	./16_Intro-Echo-Golang/praktikum
	./17_ORM-Code-Structure/praktikum/soal-eksplorasi
	./17_ORM-Code-Structure/praktikum/soal-prioritas-1
	./17_ORM-Code-Structure/praktikum/soal-prioritas-2
	./18_Middleware/praktikum
	./19_Unit-Testing/praktikum/calculator-app
	./19_Unit-Testing/praktikum/rest-api
	./20_Clean-Architecture/praktikum
)
